/*
* @Author: zhengwei
* @Date:   2016-07-11 14:44:27
* @Last Modified by:   woniu
* @Last Modified time: 2016-09-15 19:05:30
*/


/**
 * 1.尽可能的多使用直接子代选择器 避免误杀别的标签 也可以提示CSS的查找性能
 * 2.尽可能的多使用ID去限定选择器 选择器更精确一些
 */

body {
    font-family:"Microsoft YaHei", "Microsoft YaHei !important","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* 定义一个自己web字体 */

@font-face {
    /* 我们将要定义的字体的名字 */
    font-family: 'itcast';
    /* 我们这个字体对应的字体文件 format是声明这个字体文件的格式  */
    src: url(../fonts/MiFie-Web-Font.ttf) format("truetype"), url(../fonts/MiFie-Web-Font.svg) format("svg"), url(../fonts/MiFie-Web-Font.woff) format("woff");
}


/* 一定要记得使用字体图标首先得使用这个字体
然后记得在伪元素里面加上这个图标对应的编码 */

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'itcast';
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
}

.icon-telephone::before {
    content: "\e909";
}

.icon-icon::before {
    content: "\e920";
    font-size: 50px;
    color: #e92322;
    line-height: 50px;
    vertical-align: middle;
}

.icon-logo::before {
    content: "\e93e";
    font-size: 28px;
    line-height: 50px;
    color: #333;
    vertical-align: middle;
}
/* 公共背景部分 */
.bg {
    height: 3px;
    background: url("../img/he-point.png") repeat-x;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* 头部区域 */

#header {}

#header > .topbar {
    /* border-bottom: 1px solid #c0c0c0; */
    background-color: #313131;
}

#header > .topbar > .container {}

#header > .topbar > .container > .row {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

#header > .topbar > .container > .row > div {
    height: 40px;
    /* border-left: 1px solid #c0c0c0; */
}

#header > .topbar > .container > .row > div:first-child {
    border-left: 0px;
}

#header > .topbar > .container > .row > div > a {
    color: #fff;
    /* font-family:"Microsoft YaHei !important"; */
}
#header > .topbar > .container > .row > div > a:hover {
    text-decoration: none;
}
#header .btn {
    font-size: 12px;
}
#header .btn-link:hover {
    text-decoration: none;
}
#header > .topbar > .container > .row > div > .mobile-link > img {
    display: none;
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -105px;
    top: 40px;
    z-index: 2;
}

#header > .topbar > .container > .row > div > .mobile-link:hover > img {
    display: block;
}
.navbar-brand {
    padding-top: 0px;
}
.navbar-brand > i {
    display: block;
    background:url("../img/logo.jpg") center center no-repeat;
    width: 126px;
    height: 120px;
    border-radius: 64px 60px;
    overflow: hidden;
    -webkit-background-size: 126px 120px;
    background-size: 126px 120px;
}
 .navbar-brand > i.small {
    background:url("../img/logo.jpg") center center no-repeat;
    width: 64px;
    height: 60px;
    border-radius: 64px 60px;
    overflow: hidden;
    margin-top: 10px;
    -webkit-background-size: 64px 60px;
    background-size: 64px 60px;
    }
/* 轮播图区域 */

#slide > .carousel > .carousel-inner > .item {
    background-position: center center;
}

#slide > .carousel > .carousel-inner > .item > img {
    width: 100%;
}

@media (min-width: 768px) {
    #slide > .carousel > .carousel-inner > .item {
        height: 800px;
    }
}


/* 特色介绍板块 */

#feature {
    padding: 20px 0px;
}
#feature .c-box {
    background: url("../img/bg-001.png") no-repeat;
    padding-bottom: 30px;
}

#feature .media {
    margin-top: 20px;
}

#feature .media > a {
    color: #666;
    text-decoration: none;
}

#feature .media > a:hover {
    color: #e92322;
}
#feature h4 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
#feature .title {
    width: 312px;
    margin: 40px auto 40px auto;
}
#feature .title span {
    font-size: 24px;
    background: url(../img/f-bg.png) no-repeat;
    color: #fff;
    padding: 5px 60px;
    background-size: 100% 100%;
}

/* 立即预约 */

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}

#booking {
    padding: 15px 0px;
    background: url("../img/he-point.png") 0 top repeat-x,
                 url("../img/he-point.png") 0 bottom repeat-x;
}

#booking >.container > p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    padding-left: 13px;
    color: #666;
}

#booking >.container > .pull-left > a {
    color: #e92322;
    text-decoration: none;
    border-bottom: 1px dashed #e92322;
}


/* 产品推荐 */

#products {
    padding: 10px 0px;
    background: url("../img/bigbg.jpg") center center repeat-y;
    -webkit-background-size: auto;
    background-size: auto;
}
 #products > .container > .ul-waper{
    font-weight: bold;
    color: #313131;
 }
@media (max-width: 768px) {
    #products > .container > .ul-waper {
        overflow-x: scroll;
    }
}

#products > .container > .ul-waper > .nav-tabs {
    width: 100%;
    border-bottom: 0 none;
}

#products > .container > .ul-waper > .nav-tabs >li.active > a {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #e92322;
}

#products > .container > .ul-waper > .nav-tabs >li > a {
    border: 0;
    color: #555;
    font-size: 16px;
}

#products > .container > .ul-waper > .nav-tabs >li > a:hover {
    background: transparent;
}

#products > .container > .tab-content {
    padding: 20px 0px;

}


/* 面板区域 */
.panel {
    background: transparent;
}
.panel-default {
    border: 0 none;
}
.panel-default > .panel-heading {
    float: right;
    width: 160px;
    height: 290px;
    border-bottom: 0;
    position: relative;
    background-color: transparent;
    padding: 15px 0px;
}
.panel-default > .panel-heading .btn1{
    padding: 0 0 0 0px;
    width: 140px;
    background: url(../img/icon_che1.png)no-repeat center left;
    position: absolute;
    left: 0px;
    top: 235px;
}
.panel-default > .panel-heading .btn1 .che1 {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 5px;
}
.panel-default > .panel-heading .btn1 a {
        padding: 6px 12px;
    font-size: 14px;
    line-height: 39px;
    color: #fff;
    background: #313131;
}
.panel-default > .panel-heading .btn1 a:hover {
    text-decoration: none;
}


.panel-default > .panel-heading > .tooltips {
    width: 100%;
    top: 20px;
    position: absolute;
    text-align: center;
    font-size: 0;
}

.panel-default > .panel-heading > .tooltips > a:first-of-type {
    border: 1px solid #e92322;
    color: #e92322;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
}

.panel-default > .panel-heading > .tooltips > a:last-of-type {
    border: 1px solid #0f0;
    color: #0f0;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    font-size: 13px;
}

.panel-default > .panel-heading > h3 > strong {
    font-size: 30px;
}

.panel-default > .panel-heading::before {
    bottom: -8px;
}

.panel-default > .panel-heading::after {
    top: -8px;
}
.panel-default > .panel-heading > .panel-title > h3 {
    background: none;
    font-size: 18px;
    line-height: 40px;
    color: #313131;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
}
.panel-default > .panel-heading > .panel-title p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.panel-default > .panel-body {
    margin-right: 150px;
    height: 290px;
}
.panel-default > .panel-body > .row > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.panel-default > .panel-body > .row > div {
    margin-top: 10px;
}

.panel-default > .panel-body > .row > div > p {
    margin-bottom: 0;
}
/* 关于页面 */
#about {
    background: url("../img/bg-img001.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 10px;

}
#about .row-box {
    padding-bottom: 40px;
}
#about > .container >.row >img {
    display: block;
    margin: 0 auto;
    max-width: 527px;
    width: 100%;
}
#about > .container >.row >img:first-child {
    padding-top: 40px;
}
#about > .container >.row >img:nth-child(2) {
    margin-bottom: 40px;
}
#about > .container >.row .item img {
    padding: 40px 0;
   transition: all 1s;
}
#about > .container >.row .item img.little{
    width: 120px;
    padding: 15px 0;
}
#about > .container >.row .item img:hover{
    transform: rotate(360deg);
}
/* 合作伙伴 */

#partner {
    padding: 20px 0;
    background: url("../img/f-baner.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#partner > .container > ul {
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 320px;
    margin: 0 auto;
    padding-left: 0;
}
#partner > .container h3 {
    /* padding-top: 30px; */
    /* padding-bottom: 15px; */
    color: #fff;
    font-size: 24px;
}

#partner > .container p {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
}
#partner > .container > ul > li {
    list-style: none;
    display: inline-block;
    width: calc(100%/4);
    text-align: center;
    /* border-left: 1px dashed #c0c0c0; */
    height: 60px;
}

#partner > .container > ul > li:first-child {
    border-left: 0;
}

#partner > .container > ul > li > a {
    text-decoration: none;
    color: #666;
}

#partner > .container > ul > li > a:hover {
    color: #e92322;
}

#partner > .container > ul > li > a > i {
    font-size: 50px;
}


/* Bootstrap扩展样式 */


/* 自定义导航条 */

.navbar-itcast {
    border-color: #e7e7e7;
    line-height: 80px;
    margin-bottom: 0;
    border: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}

.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #222;
    line-height: 48px;
    border-bottom: 2px solid transparent;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
}
.nav > li > a {
    font-size: 20px;
}
.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 24px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}
